<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ford.qiye.dao.DtAppMapper">

    <resultMap type="com.ford.qiye.model.DtApp" id="dtAppResult">
        <result column="APPID"   property="id" />
        <result column="APPIMG"   property="appImg" />
        <result column="LINKURL"   property="linkUrl" />
        <result column="APPNAME"    property="appName" />
        <result column="DEPARTID"   property="departId" />
        <result column="QIYEAPPID"  property="qiyeAppId" />
    </resultMap>

    <select id="findByDepartId" parameterType="java.util.Map" resultMap="dtAppResult">
        SELECT  *  FROM T_DT_APP WHERE DEPARTID=#{depatId}
    </select>
</mapper>